In [245]:
import numpy as np 
import pandas as pd

train_df = pd.read_csv(r'C:\Users\User\LG_Aimers\MainTask\train.csv')
train_df

,ID,시술 시기 코드,시술 당시 나이,임신 시도 또는 마지막 임신 경과 연수,시술 유형,특정 시술 유형,배란 자극 여부,배란 유도 유형,단일 배아 이식 여부,착상 전 유전 검사 사용 여부,...,기증 배아 사용 여부,대리모 여부,PGD 시술 여부,PGS 시술 여부,난자 채취 경과일,난자 해동 경과일,난자 혼합 경과일,배아 이식 경과일,배아 해동 경과일,임신 성공 여부
0,TRAIN_000000,TRZKPL,만18-34세,NaN,IVF,ICSI,1,기록되지 않은 시행,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,3.0,NaN,0
1,TRAIN_000001,TRYBLT,만45-50세,NaN,IVF,ICSI,0,알 수 없음,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0
2,TRAIN_000002,TRVNRY,만18-34세,NaN,IVF,IVF,1,기록되지 않은 시행,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,2.0,NaN,0
3,TRAIN_000003,TRJXFG,만35-37세,NaN,IVF,ICSI,1,기록되지 않은 시행,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0
4,TRAIN_000004,TRVNRY,만18-34세,NaN,IVF,ICSI,1,기록되지 않은 시행,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,3.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256346,TRAIN_256346,TRYBLT,만18-34세,NaN,IVF,ICSI,1,기록되지 않은 시행,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,5.0,NaN,0
256347,TRAIN_256347,TRYBLT,만38-39세,NaN,IVF,ICSI,1,기록되지 않은 시행,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,3.0,NaN,1
256348,TRAIN_256348,TRVNRY,만35-37세,NaN,IVF,ICSI,1,기록되지 않은 시행,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,3.0,NaN,0
256349,TRAIN_256349,TRZKPL,만38-39세,NaN,IVF,ICSI,1,기록되지 않은 시행,0.0,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,1.0,NaN,1
256350,TRAIN_256350,TRXQMD,만35-37세,NaN,IVF,IVF,0,알 수 없음,0.0,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1

In [247]:
#기존 HFEA에서 어느정도 전처리가 된 데이터셋(95->69개) 고려하여 왠만하면 다 넣기

train_filtered = train_df[['시술 당시 나이',
                    '시술 유형',
                    '특정 시술 유형',
                    '배란 자극 여부',
                    '이식된 배아 수',
                    '단일 배아 이식 여부',
                    '착상 전 유전 검사 사용 여부',
                    '착상 전 유전 진단 사용 여부',
                    #네이쳐지에서는 Infertility Cause Feature에서
                    #Cause of Infertility - Endometriosis같은 3~4개정도의 Feature는 제외했던데 
                    #Frontier에서는 ML로 결측치 처리하니까 되도록 다양한 Feature를 넣을 것을 권장
                    #상황에 따라서 빼거나 넣기
                    '남성 주 불임 원인',
                    '남성 부 불임 원인',
                    '여성 주 불임 원인',
                    '여성 부 불임 원인',
                    '부부 주 불임 원인',
                    '부부 부 불임 원인',
                    '불명확 불임 원인',
                    '불임 원인 - 난관 질환',
                    '불임 원인 - 남성 요인',
                    '불임 원인 - 배란 장애',
                    '불임 원인 - 여성 요인',
                    '불임 원인 - 자궁경부 문제',
                    '불임 원인 - 자궁내막증',
                    '불임 원인 - 정자 면역학적 요인',
                    '불임 원인 - 정자 운동성',
                    '불임 원인 - 정자 형태',                       
                    #------------------------------------------------------
                    
                    '총 시술 횟수',
                    '클리닉 내 총 시술 횟수',
                    'IVF 시술 횟수',
                    'DI 시술 횟수',
                    '총 임신 횟수',
                    'IVF 임신 횟수',
                    'DI 임신 횟수',
                    '총 출산 횟수',
                    'IVF 출산 횟수',
                    'DI 출산 횟수',
                    '총 생성 배아 수',
                    '미세주입된 난자 수',
                    '미세주입에서 생성된 배아 수',
                    '이식된 배아 수',
                    '미세주입 배아 이식 수',
                    '저장된 배아 수',
                    '미세주입 후 저장된 배아 수',
                    '해동된 배아 수',
                    '해동 난자 수',
                    '수집된 신선 난자 수',
                    '저장된 신선 난자 수',
                    '혼합된 난자 수',
                    '파트너 정자와 혼합된 난자 수',
                    '기증자 정자와 혼합된 난자 수',
                    '난자 출처',
                    '정자 출처',
                    '난자 기증자 나이',
                    '정자 기증자 나이',
                    '동결 배아 사용 여부',
                    '신선 배아 사용 여부',
                    '기증 배아 사용 여부',
                    '대리모 여부',
                    #경우에 따라서 삭제 or 삽입
                    'PGD 시술 여부',
                    'PGS 시술 여부',
                    #---------------------------
                    '난자 채취 경과일',
                    #경우에 따라서 삭제 or 삽입
                    '난자 해동 경과일',
                    #---------------------------
                    '난자 혼합 경과일',
                    '배아 이식 경과일',
                    #경우에 따라서 삭제 or 삽입
                    '배아 해동 경과일',
                    #---------------------------
                    '임신 성공 여부'
                  ]]
train_filtered

,시술 당시 나이,시술 유형,특정 시술 유형,배란 자극 여부,이식된 배아 수,단일 배아 이식 여부,착상 전 유전 검사 사용 여부,착상 전 유전 진단 사용 여부,남성 주 불임 원인,남성 부 불임 원인,...,기증 배아 사용 여부,대리모 여부,PGD 시술 여부,PGS 시술 여부,난자 채취 경과일,난자 해동 경과일,난자 혼합 경과일,배아 이식 경과일,배아 해동 경과일,임신 성공 여부
0,만18-34세,IVF,ICSI,1,2.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,3.0,NaN,0
1,만45-50세,IVF,ICSI,0,0.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0
2,만18-34세,IVF,IVF,1,2.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,2.0,NaN,0
3,만35-37세,IVF,ICSI,1,0.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0
4,만18-34세,IVF,ICSI,1,2.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,3.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256346,만18-34세,IVF,ICSI,1,2.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,5.0,NaN,0
256347,만38-39세,IVF,ICSI,1,2.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,3.0,NaN,1
256348,만35-37세,IVF,ICSI,1,2.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,3.0,NaN,0
256349,만38-39세,IVF,ICSI,1,2.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,0.0,NaN,0.0,1.0,NaN,1
256350,만35-37세,IVF,IVF,0,2.0,0.0,NaN,0.0,0,0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1

In [249]:
#시술 당시 나이 처리
def age_encoding(age):
    if age == "만18-34세":
        return 0
    elif age == "만35-37세":
        return 1
    elif age == "만38-39세":
        return 2
    elif age == "만40-42세":
        return 3
    elif age == "만43-44세":
        return 4
    elif age == "만45-50세":
        return 5
    else:
        return None  # 그 외 값은 None으로 처리

train_filtered.loc[:,'시술 당시 나이'] = train_filtered['시술 당시 나이'].apply(age_encoding)

In [251]:
train_filtered['시술 당시 나이'].value_counts(dropna=False)

시술 당시 나이
0.0    102476
1.0     57780
2.0     39247
3.0     37348
4.0     12253
5.0      6918
NaN       329
Name: count, dtype: int64

In [253]:
train_filtered.loc[:,'특정 시술 유형'] = train_filtered['특정 시술 유형'].fillna("Unknown")

In [255]:
train_filtered['특정 시술 유형'].value_counts(dropna=False)

특정 시술 유형
ICSI                                   122368
IVF                                     91755
Unknown                                 26941
IUI                                      6100
ICSI:ICSI                                2314
ICSI / BLASTOCYST                        1609
IVF / BLASTOCYST                         1248
IVF:IVF                                  1146
ICSI:IVF                                  873
ICSI / AH                                 769
IVF:ICSI                                  392
IVF / AH                                  319
ICSI:Unknown                              207
IVF:Unknown                               100
ICI                                        96
Generic DI                                 71
IVI                                        23
ICSI / BLASTOCYST:IVF / BLASTOCYST          6
ICSI / BLASTOCYST :IVF / BLASTOCYST         4
FER                                         3
IVF / AH:ICSI / AH                          2
GIFT                                        2
ICSI / AH:Unknown                           2
ICSI / BLASTOCYST :ICSI                     1
Name: count, dtype: int64

In [257]:
#시술 유형 - 특정 시술 유형 원 핫 인코딩 
#AdaBoost 계열은 결정 트리 기반이라 범주형 변수 처리에 강점이 있어 원-핫 인코딩된 변수들도 잘 처리할 수 있다고 기대 
treatment_type = pd.get_dummies(train_filtered['시술 유형'])
specific_type = pd.get_dummies(train_filtered['특정 시술 유형'])

train_filtered = train_filtered.drop(['시술 유형', '특정 시술 유형'], axis=1)

In [259]:
df = pd.concat([train_filtered, treatment_type, specific_type], axis=1)
df

,시술 당시 나이,배란 자극 여부,이식된 배아 수,단일 배아 이식 여부,착상 전 유전 검사 사용 여부,착상 전 유전 진단 사용 여부,남성 주 불임 원인,남성 부 불임 원인,여성 주 불임 원인,여성 부 불임 원인,...,IUI,IVF,IVF / AH,IVF / AH:ICSI / AH,IVF / BLASTOCYST,IVF:ICSI,IVF:IVF,IVF:Unknown,IVI,Unknown
0,0.0,1,2.0,0.0,NaN,0.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
1,5.0,0,0.0,0.0,NaN,0.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
2,0.0,1,2.0,0.0,NaN,0.0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
3,1.0,1,0.0,0.0,NaN,0.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
4,0.0,1,2.0,0.0,NaN,0.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256346,0.0,1,2.0,0.0,NaN,0.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
256347,2.0,1,2.0,0.0,NaN,0.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
256348,1.0,1,2.0,0.0,NaN,0.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
256349,2.0,1,2.0,0.0,NaN,0.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
256350,1.0,0,2.0,0.0,NaN,0.0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False

In [261]:
df['시술 당시 나이'].value_counts(dropna = False)

시술 당시 나이
0.0    102476
1.0     57780
2.0     39247
3.0     37348
4.0     12253
5.0      6918
NaN       329
Name: count, dtype: int64

In [265]:
df.loc[:,'시술 당시 나이'] = df['시술 당시 나이'].fillna(1)

C:\Users\User\AppData\Local\Temp\ipykernel_22008\4167647402.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:,'시술 당시 나이'] = df['시술 당시 나이'].fillna(1)

In [277]:
df['배란 자극 여부'].value_counts(dropna=False)

배란 자극 여부
1    197720
0     58631
Name: count, dtype: int64

In [301]:
df[['이식된 배아 수']]
df = df.loc[:, ~df.columns.duplicated()]

In [305]:
df['이식된 배아 수'].value_counts(dropna=False)

이식된 배아 수
2.0    110845
1.0     93791
0.0     36544
3.0      8880
NaN      6291
Name: count, dtype: int64

In [307]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=3)

In [311]:
df['이식된 배아 수'] = imputer.fit_transform(df[['이식된 배아 수']])

C:\Users\User\AppData\Local\Temp\ipykernel_22008\3210958082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['이식된 배아 수'] = imputer.fit_transform(df[['이식된 배아 수']])

In [313]:
df['이식된 배아 수'].value_counts(dropna=False)

이식된 배아 수
2.000000    110845
1.000000     93791
0.000000     36544
3.000000      8880
1.368156      6291
Name: count, dtype: int64

In [330]:
def removeHangual(tmp):
    return int(tmp[0])
df.loc[:,['총 시술 횟수']] = df['총 시술 횟수'].apply(removeHangual)
df.loc[:,['클리닉 내 총 시술 횟수']] = df['클리닉 내 총 시술 횟수'].apply(removeHangual)
df.loc[:,['IVF 시술 횟수']] = df['IVF 시술 횟수'].apply(removeHangual)
df.loc[:,['DI 시술 횟수']] = df['DI 시술 횟수'].apply(removeHangual)
df.loc[:,['총 임신 횟수']] = df['총 임신 횟수'].apply(removeHangual)
df.loc[:,['IVF 임신 횟수']] = df['IVF 임신 횟수'].apply(removeHangual)
df.loc[:,['DI 임신 횟수']] = df['DI 임신 횟수'].apply(removeHangual)
df.loc[:,['총 출산 횟수']] = df['총 출산 횟수'].apply(removeHangual)
df.loc[:,['IVF 출산 횟수']] = df['IVF 출산 횟수'].apply(removeHangual)
df.loc[:,['DI 출산 횟수']] = df['DI 출산 횟수'].apply(removeHangual)

In [354]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df.loc[:,'난자 출처'] = encoder.fit_transform(df['난자 출처'])
df.loc[:,'정자 출처'] = encoder.fit_transform(df['정자 출처'])
df.loc[:,'난자 기증자 나이'] = encoder.fit_transform(df['난자 기증자 나이'])
df.loc[:,'정자 기증자 나이'] = encoder.fit_transform(df['정자 기증자 나이'])

In [352]:
df['난자 출처'].head(15)

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    2
Name: 난자 출처, dtype: object

In [356]:
imputer = KNNImputer(n_neighbors=3)
df_filled = imputer.fit_transform(df)

In [362]:
df.iloc[:,:] = df_filled

C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1. 1. 1. ... 1. 1. 1.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1. 1. 0. ... 1. 1. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled
C:\Users\User\AppData\Local\Temp\ipykernel_22008\2694343964.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:,:] = df_filled

In [370]:
df.to_csv("saving_KNN_Imputation.csv", index=False,encoding='utf-8-sig')  # 인덱스 없이 저장